In [1]:
import rpy2.robjects as robjects
import numpy as np
import pandas as pd
from rpy2.robjects import pandas2ri
pandas2ri.activate()
import rpy2.robjects as ro

In [3]:
robjects.r['load']('/home/huan/Documents/Immune/data/immuno/dat.Chen.RData')

<rpy2.robjects.vectors.StrVector object at 0x7f5459804460> [RTYPES.STRSXP]
R classes: ('character',)
['dat']

In [4]:


# read .RData file as a pandas dataframe
def load_rdata_file(filename):
    r_data = robjects.r['get'](robjects.r['load'](filename))
    with ro.default_converter + pandas2ri.converter:
        r_from_pd_df = ro.conversion.get_conversion().rpy2py(r_data)
    return r_from_pd_df

In [5]:
df = load_rdata_file('/home/huan/Documents/Immune/data/immuno/dat.Chen.RData')

In [6]:
def get_gene(df):
    mrna = df['mRNA']
    genes = df['genes']
    id = df['samples']
    df2 = pd.DataFrame(mrna.transpose(), columns=genes, index=id)
    return df2

In [7]:
df_chen = get_gene(df)
df_chen=df_chen.reset_index()

In [8]:
res = df['clin'][['ID','PD1_response']]
res.columns = ['index', 'response']

In [9]:
df_2 = pd.merge(df_chen, res, on=['index'], how='left')

In [14]:
df_2.head()

,index,ACO2,ACTB,ACVR1C,ACVR2A,ACVR2B,ADA,AIM2,ALAS1,ALCAM,...,VEGFA,VIM,VTN,WNT5A,XCL1,XCR1,Xbp1,ZAP70,ZC3HAV1,response
0,5,9.795,15.25,5.603,7.545,6.173,6.532,6.428,8.659,9.315,...,11.300,5.435,2.229,7.537,5.810,5.399,11.350,8.199,10.090,NA_character_
1,7,10.350,15.72,8.303,9.168,6.846,8.254,6.058,9.320,9.629,...,10.420,6.299,0.000,7.894,3.491,6.200,9.385,7.751,10.620,PR
2,8,10.350,15.34,7.298,9.345,6.604,7.986,4.450,9.303,9.911,...,10.380,6.486,3.128,8.162,3.935,5.298,9.883,7.757,10.410,CR
3,9,9.471,15.18,4.851,8.110,6.632,6.805,5.568,8.810,8.523,...,9.317,6.458,2.931,6.959,3.900,5.278,9.471,6.871,9.488,SD
4,10,10.280,15.19,5.177,9.563,5.886,6.277,4.692,8.956,9.468,...,10.540,7.250,2.007,8.764,3.107,6.684,9.697,8.236,10.510,NA_character_

In [15]:
df_2.to_csv('preprocessed/chen.csv')

In [23]:
dfg =  load_rdata_file('/home/huan/Documents/Immune/data/immuno/dat.Gide.RData')
df_gide = get_gene(dfg)
df_gide=df_gide.reset_index()

In [24]:
df_gide['response'] = dfg['response']

In [25]:
df_gide.head()

,index,5S_RRNA,7SK,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2ML1-AS1,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZYXP1,ZZEF1,response
0,ERR2208887,0.201722,0.135922,3.996982,0.397318,0.029250,75.363313,0.620695,3.522645,0.016704,...,1.425775,1.625318,3.591196,0.110539,0.081870,4.398635,12.806096,0.0,14.526020,PD
1,ERR2208888,0.057494,0.125897,4.235257,0.293948,0.032814,68.181198,0.458726,0.178780,0.000000,...,0.887515,1.229528,2.248668,0.063648,0.117616,2.896044,11.543133,0.0,7.850794,PD
2,ERR2208889,0.000000,0.068414,3.866511,0.065178,0.300185,225.100402,0.868045,0.501445,0.000000,...,0.955038,1.747975,2.133424,0.176044,0.000000,11.039575,44.050340,0.0,15.880001,PD
3,ERR2208890,0.338583,0.135980,3.577465,0.323712,0.007813,1331.326733,2.302960,0.415646,0.000000,...,2.934055,1.821860,6.045789,0.090260,0.006593,7.898032,31.674979,0.0,29.329663,PD
4,ERR2208891,0.000000,0.000000,4.503390,0.285126,0.112622,543.517192,2.873222,0.187619,0.000000,...,3.573836,2.010549,4.210314,0.057584,0.000000,9.267816,40.831241,0.0,35.897544,PR

In [26]:
df_gide.to_csv('preprocessed/gide.csv')

In [78]:
df = load_rdata_file('data/immuno/dat.Hwang.RData')

In [79]:
df_hwang = get_gene(df)
df_hwang=df_hwang.reset_index()

In [80]:
df_hwang

,index,ABCF1,ADGRE5,ADORA2A,AIF1,AKT1,ALOX15B,ARG1,AXL,B3GAT1,...,TUBB,TWIST1,TYROBP,VCAM1,VEGFA,VTCN1,XAGE1B,ZAP70,ZBTB46,ZEB1
0,D06,5698.365555,3475.885675,9.620740,3434.196229,178.656146,466.090985,1.362273,221.997257,4163.171713,...,8015.402876,218.309595,6806.169733,560.256816,983.944743,0.000000,0.000000,63.157956,5.689701,3.734474
1,D01,7904.660731,7686.945319,21.558720,2302.692204,214.253508,5115.950529,1.418530,154.366005,780.825314,...,7156.847758,295.319612,3941.184729,1629.126568,4213.892063,0.029250,2895.428480,112.917347,11.004809,2.796664
2,N10,5957.135903,1243.228362,2.050149,162.382401,152.904523,156.829266,0.000000,57.386630,446.675230,...,4801.114117,20.575268,603.318130,58.691501,902.180440,4.287435,0.000000,1.127161,1.462102,0.232107
3,N09,7119.516222,151.713748,15.660892,129.051156,165.265521,102.157045,0.408144,40.022917,28.311000,...,11386.012972,465.146554,133.206453,126.251548,1233.277284,4.127993,0.094823,3.707976,0.874762,0.871216
4,D08,17693.809230,1853.584514,37.374689,2808.667861,595.154770,281.317379,0.000000,286.762302,447.617021,...,30609.787679,54.599033,5583.086780,1167.239762,5399.151756,0.000000,1105.073930,15.804681,26.520098,10.275894
5,N04,11099.289149,3391.592611,33.011241,274.131253,827.522430,10984.025847,0.000000,63.198200,21991.289290,...,6830.767837,122.298204,2741.874083,50.273970,2687.345279,0.333436,10417.986439,7.505782,8.861952,0.159803
6,D07,9359.068430,3220.307053,8.823495,3227.490426,156.534904,34436.025068,0.000000,165.400119,580.753421,...,10768.720850,36.841878,5782.153455,718.671845,3704.324473,1.362722,5410.545076,37.687740,16.640644,3.013758
7,N03,9138.534149,2468.952794,26.705224,3870.841171,485.247491,1378.585603,0.000000,162.207919,2395.862449,...,15845.774240,622.457287,6725.486184,2952.545487,10226.403629,0.194115,1896.385884,32.758193,10.062062,5.421722
8,N06,11339.813449,1887.613852,10.889646,2607.967242,216.543333,292.722073,0.000000,170.719843,28.409010,...,24876.017441,325.196840,2955.345361,761.499130,6370.790481,0.000000,3.290032,16.398663,4.105875,5.706888
9,D03,12693.990956,13485.477303,57.364372,514.697900,696.372499,22346.956486,0.000000,206.367607,2118.219380,...,17494.545463,104.867641,7547.050168,437.455913,5533.307003,0.000000,8923.206144,17.352750,12.143592,0.541179
10,N05,10386.178373,4252.143803,18.319970,1523.326443,334.454329,2463.650579,0.000000,143.755545,116.907582,...,5984.397485,6.705798,3820.412505,858.250049,9305.948635,0.018791,479.890871,36.713504,9.348325,3.855311
11,N08,3540.964719,659.677165,2.505010,134.631107,67.572311,476.871406,0.297275,63.854635,5.321434,...,10031.480821,152.762380,221.044316,96.060796,5547.233739,0.698795,0.000000,2.089855,0.762390,1.822591
12,D05,8785.120543,1369.672137,20.061504,430.000723,208.751380,342.253989,0.500456,191.423584,43.512828,...,15098.194599,1002.735251,560.798125,708.317666,1892.682648,0.362652,0.797277,11.528960,7.551502,2.534585
13,D09,10229.757126,2145.051913,23.482181,3602.033333,165.428446,0.000000,0.000000,144.269947,0.000000,...,7125.718698,602.037374,3114.115585,1434.474367,2193.036880,0.011050,72.876390,53.033393,0.373042,6.822228
14,N07,8379.410073,4484.360662,35.760187,1856.514499,331.696285,496.378084,34.384756,65.231793,1503.462552,...,3739.331162,362.252487,3856.382630,1179.655242,1678.537731,0.767126,50.637521,126.807158,9.995443,2.777457
15,D04,5759.109704,12803.831562,32.971314,1301.429743,317.622517,6334.299434,17.198770,33.286040,4853.990563,...,2776.386025,4.731173,5630.845525,22.948006,16540.262609,0.019886,9507.615284,133.146576,7.402347,0.368837
16,D02,5910.888155,2471.577592,43.787860,3320.423816,191.553109,275.151941,0.695836,108.708524,152.585391,...,9708.269173,713.012365,2109.252856,713.185786,3588.483662,1.172954,5.819809,75.126001,5.410967,4.619956
17,N11,3053.616696,1967.605910,7.497108,100.228119,91.285677,3845.937695,2.337176,12.727869,19.688051,...,13705.066238,37.937525,373.205120,11.873668,913.562813,0.467749,0.000000,2.274984,1.133302,0.161405
18,N12,3147.218587,950.348685,10.402091,794.528250,108.966216,5.355449,0.000000,94.792990,19.940500,...,13644.169360,621.809731,718.509590,862.780710,555.193156,0.059065,0.000000,14.405805,2.833509,1.239862
19,N01,4173.935477,5719.820041,37.117870,560.355338,392.389526,278.978645,0.264216,21.403282,551.004698,...,8165.670628,145.333444,2431.867451,84.524401,528.278556,0.024516,0.000000,36.948940,11.645156,0.178597
20,N02,10555.188529,4883.447055,43.271520,410.116957,835.286106,230.636023,0.000000,616.032007,777.190011,...,26706.064642,299.812790,2425.181705,372.470310,1509.577241,0.079198,1215.533846,80.270989,24.402086,0.854692

In [84]:
df_hwang['response'] = df['response']

In [85]:
df_hwang.head()

,index,ABCF1,ADGRE5,ADORA2A,AIF1,AKT1,ALOX15B,ARG1,AXL,B3GAT1,...,TWIST1,TYROBP,VCAM1,VEGFA,VTCN1,XAGE1B,ZAP70,ZBTB46,ZEB1,response
0,D06,5698.365555,3475.885675,9.620740,3434.196229,178.656146,466.090985,1.362273,221.997257,4163.171713,...,218.309595,6806.169733,560.256816,983.944743,0.000000,0.000000,63.157956,5.689701,3.734474,1.0
1,D01,7904.660731,7686.945319,21.558720,2302.692204,214.253508,5115.950529,1.418530,154.366005,780.825314,...,295.319612,3941.184729,1629.126568,4213.892063,0.029250,2895.428480,112.917347,11.004809,2.796664,1.0
2,N10,5957.135903,1243.228362,2.050149,162.382401,152.904523,156.829266,0.000000,57.386630,446.675230,...,20.575268,603.318130,58.691501,902.180440,4.287435,0.000000,1.127161,1.462102,0.232107,0.0
3,N09,7119.516222,151.713748,15.660892,129.051156,165.265521,102.157045,0.408144,40.022917,28.311000,...,465.146554,133.206453,126.251548,1233.277284,4.127993,0.094823,3.707976,0.874762,0.871216,0.0
4,D08,17693.809230,1853.584514,37.374689,2808.667861,595.154770,281.317379,0.000000,286.762302,447.617021,...,54.599033,5583.086780,1167.239762,5399.151756,0.000000,1105.073930,15.804681,26.520098,10.275894,1.0

In [27]:


df = load_rdata_file('data/immuno/dat.Liu.RData')
df_liu = get_gene(df)
df_liu=df_liu.reset_index()
df_liu.head()

,index,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A3GALT2,A4GALT,A4GNT,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
0,Patient100,19.614242,0.826789,0.035182,504.956774,0.844380,0.228686,0.351825,8.215113,0.844380,...,23.818550,10.695479,3.817301,3.008103,12.964750,0.527737,14.143363,204.832492,58.438126,12.947159
1,Patient102,20.075427,0.555721,0.208395,811.098196,0.301016,0.000000,0.000000,2.315505,0.671496,...,18.639814,6.506569,2.639676,3.565877,13.568858,0.069465,27.786058,240.881970,36.006101,16.277999
2,Patient105,13.009169,0.000000,0.000000,108.481865,0.649106,0.054092,0.108184,0.567968,0.135230,...,44.869462,7.708135,0.622060,2.028457,4.624881,0.054092,25.098771,20.014106,11.467542,33.428967
3,Patient106,18.363130,0.902715,0.000000,93.811126,0.095023,0.118778,0.000000,0.427602,0.118778,...,11.664032,11.022629,1.900453,3.159504,8.528284,0.023756,19.432135,42.593910,30.169696,17.888017
4,Patient107,0.000000,0.000000,0.000000,540.552469,0.000000,0.000000,0.000000,0.000000,0.000000,...,67.725304,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,377.534480,19.590340,0.000000

In [28]:
df_liu['response'] = df['response']
df_liu.head()

,index,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A3GALT2,A4GALT,A4GNT,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,response
0,Patient100,19.614242,0.826789,0.035182,504.956774,0.844380,0.228686,0.351825,8.215113,0.844380,...,10.695479,3.817301,3.008103,12.964750,0.527737,14.143363,204.832492,58.438126,12.947159,PR
1,Patient102,20.075427,0.555721,0.208395,811.098196,0.301016,0.000000,0.000000,2.315505,0.671496,...,6.506569,2.639676,3.565877,13.568858,0.069465,27.786058,240.881970,36.006101,16.277999,MR
2,Patient105,13.009169,0.000000,0.000000,108.481865,0.649106,0.054092,0.108184,0.567968,0.135230,...,7.708135,0.622060,2.028457,4.624881,0.054092,25.098771,20.014106,11.467542,33.428967,MR
3,Patient106,18.363130,0.902715,0.000000,93.811126,0.095023,0.118778,0.000000,0.427602,0.118778,...,11.022629,1.900453,3.159504,8.528284,0.023756,19.432135,42.593910,30.169696,17.888017,CR
4,Patient107,0.000000,0.000000,0.000000,540.552469,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,377.534480,19.590340,0.000000,PR

In [29]:
df_liu.to_csv('preprocessed/liu.csv')

In [30]:

df = load_rdata_file('data/immuno/dat.VanAllen.RData')
df_riaz = get_gene(df)
df_riaz=df_riaz.reset_index()
df_riaz.head()

,index,DDX11L1,WASH7P,MIR1302-11,FAM138A,OR4G11P,OR4F5,RP11-34P13.7,RP11-34P13.8,RP11-34P13.11,...,MT-ND3,J01415.17,J01415.18,J01415.19,J01415.20,MT-ND5,MT-ND6,J01415.21,MT-CYB,J01415.22
0,Pat02,0.48,160.15,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,17.33,NaN,NaN,NaN,NaN,50.82,225.19,NaN,15.50,NaN
1,Pat03,1.19,120.96,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,36.91,NaN,NaN,NaN,NaN,73.88,257.35,NaN,55.74,NaN
2,Pat04,2.96,91.29,NaN,0.0,0.0,0.17,NaN,NaN,NaN,...,1.83,NaN,NaN,NaN,NaN,2.51,11.39,NaN,1.45,NaN
3,Pat06,2.03,131.40,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,18.71,NaN,NaN,NaN,NaN,48.00,175.78,NaN,22.73,NaN
4,Pat08,2.88,134.06,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,10.58,NaN,NaN,NaN,NaN,32.99,164.01,NaN,10.61,NaN

In [31]:
df_riaz['response'] = df['response']
df_riaz.head()

,index,DDX11L1,WASH7P,MIR1302-11,FAM138A,OR4G11P,OR4F5,RP11-34P13.7,RP11-34P13.8,RP11-34P13.11,...,J01415.17,J01415.18,J01415.19,J01415.20,MT-ND5,MT-ND6,J01415.21,MT-CYB,J01415.22,response
0,Pat02,0.48,160.15,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.82,225.19,NaN,15.50,NaN,1
1,Pat03,1.19,120.96,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,73.88,257.35,NaN,55.74,NaN,0
2,Pat04,2.96,91.29,NaN,0.0,0.0,0.17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.51,11.39,NaN,1.45,NaN,1
3,Pat06,2.03,131.40,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,48.00,175.78,NaN,22.73,NaN,0
4,Pat08,2.88,134.06,NaN,0.0,0.0,0.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,32.99,164.01,NaN,10.61,NaN,0

In [32]:
df_riaz.to_csv('preprocessed/allen.csv')

In [130]:

df = load_rdata_file('data/immuno/dat.Cho.RData')
df_riaz = get_gene(df)
df_riaz=df_riaz.reset_index()
df_riaz.head()

,index,OR4F5,OR4F29,OR4F16,LINC00115,SAMD11,NOC2L,KLHL17,PLEKHN1,HES4,...,PRY,BPY2,DAZ1,DAZ2,CDY1B,BPY2B,DAZ3,DAZ4,BPY2C,CDY1
0,Dis_01,2,0,0,49,176,6343,339,86,59,...,0,0,8,388,0,0,14,8,0,0
1,Dis_02,0,0,0,26,14,3154,59,18,50,...,0,0,0,0,0,0,0,0,0,0
2,Dis_11,0,0,0,47,5,3656,81,5,16,...,0,0,11,31,0,0,161,21,0,0
3,Dis_12,0,0,0,29,5,3656,362,625,301,...,0,0,0,0,0,0,0,0,0,0
4,Dis_15,0,0,0,41,25,2665,279,139,79,...,0,0,0,0,0,0,0,0,0,0

In [132]:
df_riaz['response'] = df['response']
df_riaz.head()

,index,OR4F5,OR4F29,OR4F16,LINC00115,SAMD11,NOC2L,KLHL17,PLEKHN1,HES4,...,BPY2,DAZ1,DAZ2,CDY1B,BPY2B,DAZ3,DAZ4,BPY2C,CDY1,response
0,Dis_01,2,0,0,49,176,6343,339,86,59,...,0,8,388,0,0,14,8,0,0,patient response: non-responder
1,Dis_02,0,0,0,26,14,3154,59,18,50,...,0,0,0,0,0,0,0,0,0,patient response: responder
2,Dis_11,0,0,0,47,5,3656,81,5,16,...,0,11,31,0,0,161,21,0,0,patient response: non-responder
3,Dis_12,0,0,0,29,5,3656,362,625,301,...,0,0,0,0,0,0,0,0,0,patient response: non-responder
4,Dis_15,0,0,0,41,25,2665,279,139,79,...,0,0,0,0,0,0,0,0,0,patient response: responder

In [135]:
df_riaz.loc[df_riaz["response"] == "patient response: non-responder","response"] = 0
df_riaz.loc[df_riaz["response"] == "patient response: responder","response"] = 1

In [136]:
df_riaz.head()

,index,OR4F5,OR4F29,OR4F16,LINC00115,SAMD11,NOC2L,KLHL17,PLEKHN1,HES4,...,BPY2,DAZ1,DAZ2,CDY1B,BPY2B,DAZ3,DAZ4,BPY2C,CDY1,response
0,Dis_01,2,0,0,49,176,6343,339,86,59,...,0,8,388,0,0,14,8,0,0,0
1,Dis_02,0,0,0,26,14,3154,59,18,50,...,0,0,0,0,0,0,0,0,0,1
2,Dis_11,0,0,0,47,5,3656,81,5,16,...,0,11,31,0,0,161,21,0,0,0
3,Dis_12,0,0,0,29,5,3656,362,625,301,...,0,0,0,0,0,0,0,0,0,0
4,Dis_15,0,0,0,41,25,2665,279,139,79,...,0,0,0,0,0,0,0,0,0,1

In [137]:
df_riaz.to_csv('preprocessed/cho.csv')